<!doctype html>
<html>
  <head>
    <title>Number game</title>
  </head>
  <body>
    <h1>Number Game</h1>
	<p>Last player's name: <span id="lastPlayer"></span></p>
	<input type="text" name="player" id="player" />
	<input type="number" min="0" name="number" id="number" />
	<button id="submit">Submit Number</button>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="client.js"></script>
  </body>
</html>